# Items that apply to ALL profiles:
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8010/eureka/
server:
  port: 8181   # Select any available port if neither port nor server port are specified
spring:
  datasource:
    password: dbpassword
    testWhileIdle: true
    url: jdbc:mysql://127.0.0.1:3307/cargasdb?useSSL=false
    username: dbuser
    validationQuery: SELECT 1
  jpa:
    hibernate:
      naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
        format_sql: true
    show-sql: 'false'
  servlet:
    multipart:
      enabled: true
      max-file-size: 200MB
      max-request-size: 200MB
file:
  container: /Users/luisarriaga/Documents/Meltsan/FileContainer/
path:
  services:
    catalog: http://kubernetes.meltsan.us/v1/
prod: false
logging:
  file:/var/log/sample-boot-application.log 
  pattern:
      file:%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID}){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx 
management:
  endpoints:
    web:
      exposure:
        include: "*"  
  endpoint:
    health:
      show-details: ALWAYS
  


